:root {
    --primary-color: #6a72ff;
    --primary-hover-color: #333dff;
    --text-color: #444444;
    --background-color: #fff;
    --border-color: #ccc;
    --button-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
