:root {
    --primary-color: #6a72ff;
    --primary-hover-color: #333dff;
    --text-color: #444444;
    --background-color: #fff;
    --border-color: #ccc;
    --button-text-color: #fff;
    --complete-button-color:rgb(0, 210, 0);
    --complete-hover-color:rgb(0, 180, 0);
    --edit-button-color:rgb(220, 220, 0);
    --edit-hover-color:rgb(200, 200, 0);
    --delete-button-color: #ff0000;
    --delete-hover-color: #dd0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
